#
# Generated executable
#
axiom-recv/axiom-recv
axiom-send/axiom-send
axiom-whoami/axiom-whoami
axiom-init/axiom-discovery/test/axiom_discovery_protocol_test
axiom-init/axiom-discovery/test/axsw_discovery_protocol_test
axiom-init/axiom-init
axiom-info/axiom-info
axiom-ping-reply/axiom-ping-reply
axiom-ping/axiom-ping
axiom-traceroute/axiom-traceroute
axiom-netperf/axiom-netperf
axiom-rdma/axiom-rdma
axiom-run/axiom-run
axiom-run/test/myinfo
axiom-run/test/mybar
axiom-run/test/myexch
axiom-run/test/myrpc
axiom-run/test/mylong
lib/tests/axiom-test-galloc
axiom-run/test/myputbulk
axiom-utility/axiom-utility

#
# Normal rules
#
.*
*.o
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
modules.builtin
*.elf
*.bin
*.gz
*.bz2
*.lzma
*.xz
*.lzo
*.patch
*.gcno

#
# Top-level generic files
#
/tags
/TAGS
/linux
/vmlinux
/vmlinuz
/System.map
/Module.markers
Module.symvers

#
# Debian directory (make deb-pkg)
#
/debian/

#
# git files that we don't want to ignore even it they are dot-files
#
!.gitignore
!.mailmap

#
# Generated include files
#
include/config
include/linux/version.h
include/generated
arch/*/include/generated

# stgit generated dirs
patches-*

# quilt's files
patches
series

# cscope files
cscope.*
ncscope.*

# gnu global files
GPATH
GRTAGS
GSYMS
GTAGS

*.orig
*~
\#*#

#
# Leavings from module signing
#
extra_certificates
signing_key.priv
signing_key.x509
x509.genkey


# netbeans project
nbproject
