Source: axiom-apps
Section: unknown
Priority: optional
Maintainer: Massimiliano <massy@unknown>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://anonscm.debian.org/collab-maint/axiom-apps.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/axiom-apps.git;a=summary

Package: libaxiom-init
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: axiom init library
 axiom init library

Package: libaxiom-init-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libaxiom-init
Description: axiom init library - development files
 axiom init library - development files
