Source: axiom-apps
Section: unknown
Priority: optional
Maintainer: Massimiliano <massy@unknown>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://anonscm.debian.org/collab-maint/axiom-apps.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/axiom-apps.git;a=summary

Package: libaxiom-run
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libaxiom-init
Description: axiom run library
 axiom run library

Package: libaxiom-run-dbg
Architecture: any
Depends: libaxiom-run (= ${binary:Version}), ${misc:Depends}
Description: axiom run library debug symbols
 axiom run library debug symbols

Package: libaxiom-run-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libaxiom-run
Description: axiom run library - development files
 axiom run library - development files
